name: Retrain MLflow Model

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: mlflow-env
          python-version: 3.12

      - name: Install MLflow
        shell: bash -l {0}
        run: |
          pip install --upgrade pip
          pip install mlflow

      - name: Run MLflow Project (Conda)
        shell: bash -l {0}
        run: |
          mlflow run ./MLProject
